body{

}

.nav-color{
    background-color: #03A9F4;
}

a{
    color: #170d0c;
}

/*.carousel-indicators {
    top: 1.5rem;
    right: 1.5rem;
    bottom: auto;
    left: auto;
    width: 1rem;
    margin-left: 0;
}*/
.gap{
    margin-bottom: 100px;
}

.slider{
    margin-top: 100px;
    background-color: #ffc107;
    padding-bottom: 50px;
}


.colo{
    background-color: #ffc107;
}
.colo img{
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.2;
}
.cont_obj{

    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px;
}

.cont_obj h1{
    color: white;
}

.carousel-control.right {

    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
}

.carousel-control.left {

    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
}

.btn-success-outline {

    color: #292b29;
    background-color: transparent;
    background-image: none;
    border-color:  #292b29;
}

.sec2{
    color: white;
    background-attachment: fixed;
    background-image: url("http://66.media.tumblr.com/cf23694fe77079a5ef4b268cb1e82ad2/tumblr_nuqobzkYNs1qapk2qo1_500.jpg");
    padding-bottom: 75px;
    background-size: cover;


}

.mainHead{
    padding-top: 100px;
    text-align: center;
    opacity: 0.4;
    }

#myModalLabel{
    color: black;
}
#showPayment{
    font-size: 2.0rem;
    display: inline;

}
#amount {
    display: inline;
    font-size: 2.0rem;
}
.lan_demo{

    color: #fff;
    background-color:transparent;
    border-color: #f5f5f5;
}
.lan_demo:hover {

    color: #fff;
    background-color: #2196F3;
    border-color: #eaeaea;
}
@media (min-width: 544px){
    .pos {
        bottom: 10px;
    }}
.pos{
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-control{
    color: #000000;
    text-shadow: 0 1px 2px rgba(4, 4, 4, 0.6);
    opacity: 1;
}
.btnDIslam{

}

.btnislani{

}

#map {
    width: 100%;
    height: 300px;
    background-color: grey;
}